{{#contentFor 'title'}}
    <title>Panel de Control - calcayan automation</title>
{{/contentFor}}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Control del sistema</h1>
    <p class="lead">Tome el control manual del sistema de fermentacion y madurado</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center ">
        {{# each dispositivos }}
            {{> (lookup . 'partial_name') }}
            {{#ifThird @index}}
                </div>
                <div class="card-deck mb-3 text-center">
            {{/ifThird}}
        {{/each}}
    </div>

    {{#contentFor 'scripts'}}
        <script src="scripts/test.js" type="text/javascript"></script>
    {{/contentFor}}
</script>